/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
}
body {
  background: black;
  color: white;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  text-transform: capitalize;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 3rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
a {
  color: #6AC4DE;
}
a:hover {
  color: #bee5f0;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 100%;
  width: 100%;
  min-height: 100%;
  position: relative;
  padding-bottom: 65px;
  margin: 0 auto;
}
header {
  margin-top: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(0, 0, 0, 0.8);
  position: sticky;
  top: 0;
  width: 100vw;
  max-width: 100%;
  /*
    @media @mobile {
        flex-direction: column;
        align-items: center;
    }
*/
}
header .hdr-content {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  align-items: center;
}
@media (max-width: 500px) {
  header .hdr-content {
    flex-direction: column;
  }
}
header a {
  text-transform: uppercase;
  color: white;
}
header h1 {
  text-transform: capitalize;
  margin-left: 20px;
  padding-left: 20px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #6AC4DE;
}
@media (max-width: 500px) {
  header h1 {
    margin-left: 0;
    padding-left: 0;
  }
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  color: white;
}
@media (max-width: 500px) {
  header nav {
    width: 100%;
    align-items: center;
  }
}
header nav a {
  text-decoration: none;
  font-size: 1.8rem;
}
header nav a.active,
header nav a:hover {
  color: #6AC4DE;
}
.footer {
  position: absolute;
  bottom: 0;
  height: 65px;
  width: 100vw;
  max-width: 100%;
  margin: 0 auto;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 0;
  color: white;
  background: rgba(0, 0, 0, 0.8);
}
.footer p {
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
  padding: 20px;
}
.home .parallax {
  height: 50vh;
  width: 100vw;
  max-width: 100%;
  background-color: #cccccc;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home .bg1 {
  background-image: url("../img/stock/bg1.jpg");
}
.home .bg2 {
  background-image: url("../img/stock/bg2.jpg");
}
.home .bg3 {
  background-image: url("../img/stock/bg3.jpg");
}
.home .bg4 {
  background-image: url("../img/stock/bg4.jpg");
}
.home .bg5 {
  background-image: url("../img/stock/bg5.jpg");
}
.home .bg6 {
  background-image: url("../img/stock/bg6.jpg");
}
.home .bg7 {
  background-image: url("../img/stock/bg7.jpg");
}
.home .bg8 {
  background-image: url("../img/stock/bg7.jpg");
}
.home .marquee-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
  min-height: 50vh;
}
.home .marquee-section .wide-text-content {
  margin: 0 15px;
  padding-top: 15px;
  width: 96%;
}
.home .content-section {
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
}
@media (max-width: 500px) {
  .home .content-section {
    flex-direction: column;
    align-items: center;
  }
}
.home .content-section .text-content {
  margin: 0 auto;
  width: 48%;
}
@media (max-width: 500px) {
  .home .content-section .text-content {
    width: 96%;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .home .content-section .img-content {
    width: 96%;
    margin: 0 auto;
  }
}
.home .content-section .img-content img {
  border-radius: 10px;
}
.home .inverse-content {
  padding-bottom: 30px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .home .inverse-content {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.home .inverse-content .text-content {
  padding-right: 0;
}
.home .inverse-content .img-content {
  margin: 0 auto;
  padding-left: 0;
}
.home .content-destination {
  margin: 0 auto;
  max-width: 1000px;
}
.home .content-destination img {
  width: 100%;
}
.home .content-pick {
  padding-top: 30px;
  width: 96%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px ;
}
.home .content-pick .destination .btn {
  padding: 10px;
  background-color: #6AC4DE;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  width: 80%;
}
.home .content-pick .destination .btn a,
.home .content-pick .destination .btn a:visited,
.home .content-pick .destination .btn a:hover {
  color: white;
  text-decoration: none;
}
.home .content-pick .destination .btn a:hover,
.home .content-pick .destination .btn a:active,
.home .content-pick .destination .btn a:visited {
  color: white;
  text-decoration: none;
}
.home .content-pick .destination .btn:hover {
  background-color: #bee5f0;
}
body.team {
  color: white;
  background-color: #384148;
}
.developer-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}
@media (max-width: 500px) {
  .developer-list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
.developer-list .developer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid white;
  border-radius: 8px;
  margin: 20px;
  width: 200px;
  max-width: 25%;
  min-width: 150px;
}
.developer-list .developer h3 {
  padding-top: 10px;
  font-size: 1.8rem;
  text-align: center;
}
.developer-list .developer h4 {
  padding: 10px 0;
  font-size: 1.8rem;
  font-weight: bold;
}
.developer-list .developer img {
  margin-top: 15px;
  width: 75%;
  border-radius: 50%;
}
.developer-list .developer p {
  padding: 10px;
  max-width: 100%;
}
@media screen and (max-width: 600px) {
  .developer-list .developer {
    max-width: 96%;
    margin: 2%;
  }
}
@media (max-width: 500px) {
  .developer-list .developer {
    width: 75%;
    margin: 2%;
  }
}
