.footer {
  width: 100vw;
  max-width: 100%;
  margin: 0 auto;
  // max-width: @max-content-width;
  border-top: 1px solid darkgrey;
  padding-bottom: 0;
  color: black;
  background: lightgray;
  
  p {
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;
    padding: 20px;
  }
}