.home {

  .btn {
    a, a:visited, a:hover {
      color: white;
      text-decoration: none;
    }
    .cta-button(@button-bg, white);
    max-width: 40%;
  }

  .parallax {
    // Set background image first with its class, below
    height: 50vh;
    width: 100vw;
    max-width: 100%;
    background-color: #cccccc; // Necessary?
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg1 { background-image: url("../img/stock/bg1.jpg"); }
  .bg2 { background-image: url("../img/stock/bg2.jpg"); }
  .bg3 { background-image: url("../img/stock/bg3.jpg"); }
  .bg4 { background-image: url("../img/stock/bg4.jpg"); }
  .bg5 { background-image: url("../img/stock/bg5.jpg"); }
  .bg6 { background-image: url("../img/stock/bg6.jpg"); }
  .bg7 { background-image: url("../img/stock/bg7.jpg"); }
  .bg8 { background-image: url("../img/stock/bg7.jpg"); }

  

  .left-half {
    flex-direction: row;
  }
  .right-half {
    flex-direction: row-reverse;
  }


    // .right-half {
    //   flex-direction: row-reverse;
    // }
  .trans-layer {
    background-color: rgba(120,120,120,.4);
    border: 2px solid yellowgreen;
    height: 100%;
    display: flex;
    // flex-direction: row;
    // flex-direction: row-reverse;
    .left-half {
      flex-direction: row;
    }
  
    .right-half {
      flex-direction: row-reverse;
    }
    
   /*  .left-half {
      background-color: rgba(120,120,120,.6);
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 50%;

      @media @mobile {
        width: 100%;
        flex-direction: stretch;
      }
     }
    .right-half {
      background-color: rgba(120,120,120,.6);
      justify-self: flex-start;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 50%;

      @media @mobile {
        width: 100%;
        flex-direction: stretch;
      } 
    }
    */

    div.side-box {
      border: 1px solid hotpink;
      background-color: rgba(120,120,120,.6);
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 50%;

      @media @mobile {
        width: 100%;
        flex-direction: stretch;
      }
    }
  }

  .marquee-section {
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: @max-content-width;
    min-height: 50vh;

    .wide-text-content {
      margin: 0 15px;
      padding-top: 15px;
      width: 96%
    }

  }

  .content-section {
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: @max-content-width;
    @media @mobile {
      flex-direction: column;
      align-items: center;
    }
    .text-content {
      margin: 0 auto;
      width: 48%;
      @media @mobile {
        width: 96%;
      }
    }

    .img-content {
      width: 48%;
      @media @mobile {
        width: 96%;
        margin: 0 auto;
      }
      padding-left: 1%;

      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    margin: 0 auto;
    
    @media @mobile {
      flex-direction: column-reverse;
      align-items: center;
    }

    .text-content {
      padding-right: 0;
    }

    .img-content {
      margin: 0 auto;
      padding-left: 0;
    }
  }

  .content-destination {
    margin: 0 auto;
    max-width: @max-content-width;
    img {
      width: 100%;
    }
  }

  .content-pick {
    padding-top: 30px;
    width: 96%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: @max-content-width;
    

    .destination {
      width: 30%;
      margin-bottom: 30px;

      .btn {
        a, a:visited, a:hover {
          color: white;
          text-decoration: none;
        }
        .cta-button(@button-bg, white);
        width: 80%;
      }
    } // destination
  } // contact-pick
} // home