// Navigation Styles here

// Below 270px, we'd need a hamburger menu!

header {
    display: flex;
    justify-content: center;
    align-items: space-between;

    margin-top: 0px;
    border-bottom: 1px solid rgba(255,255,255,.2);
    // padding-bottom:10px;
    // box-shadow: 0 2px 2px rgba(0,0,0,.5);  // Include?
    background: rgba(0,0,0,.8);  
    position: sticky;
    top: 0;
    width: 100vw;
    max-width: 100%;

    .hdr-content {
        width: 100%;

        display: flex;
        justify-content: space-between;
        max-width: @max-content-width;
        align-items: center;

        @media @mobile {
            flex-direction: column;
            // Alignment?
        }
        h1 a {
            text-decoration: none;
            color: @educell-blue;
        }
    }

    a {
        color: white;
    }

    h1 {
        // border: 1px solid yellowgreen;
        text-transform: capitalize;
        padding: .5rem 2rem;
        color: @educell-blue;

        @media @mobile {
            margin-left: 0;
            padding-left: 0;
        }
    }

    nav {
        // border: 1px solid hotpink;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 30%;
        color: white;
        @media @mobile {
            width: 100%;
            align-items: center;
          }
        a {
            text-decoration: none;
            font-size: 2rem;
            padding: .5rem 0 1rem 0;
        }
         
        a.active, a:hover {
            color: @educell-blue;
        }
    }
}