
// Color assignments 
@font-color: @shark;
@button-bg: @eastern-blue;
@main-bg:  @white;
@navigation-border: @silver;
// @footer-bg: @sandy-beach;

// Colors
@white: #FFFFFF;
@silver: #C0C0C0;
@shark: #212529;
@eastern-blue: #17A2B8;
@sandy-beach: #FFEBCD;

// A possibly-good bluish color: #405E69

// Fonts
// 

// h1 h2
// letter-spacing .5 rem; font-size: 2.25 rem; line-height: 1.3;
// h* font-weight: 600;  margin: 0 0 1rem; text-transform: uppercase;
// Source Sans Pro, sans-serif

// Responsive Design
@mobile: ~"(max-width: 500px)";

@max-content-width: 1000px;

//@media screen and (max-width: 1680px)...

//  From Project screenshots:
//  Blue color: #1E4F5C
//  Orange color: #BA4F34
//

// GMAD Site: 
// Orange: #FCB614
// Green: #A6C637
// Red: #CA2029
// Brown: #3A2212