
// Color assignments 
@button-bg: @educell-blue;
@navigation-border: @silver;

// Colors  ... Are these used anymore?
@silver: #C0C0C0;
@eastern-blue: #17A2B8;

// Educell colors:
@educell-blue: #6AC4DE;
@educell-dark-grey: #384148;

// Fonts
// 

// h1 h2
// letter-spacing .5 rem; font-size: 2.25 rem; line-height: 1.3;
// h* font-weight: 600;  margin: 0 0 1rem; text-transform: uppercase;
// Source Sans Pro, sans-serif

// Responsive Design
@mobile: ~"(max-width: 500px)";
@pad: ~"(max-width: 800px)";

//@media screen and (max-width: 1680px)...
// Don't let the text get wider than this; it's too hard to read.
@max-content-width: 1000px;
@footer-height: 65px;
@box-outline-thickness: 2px;
@box-border-radius: 8px;

// GMAD colors: 
@gmad-orange: #FCB614;
@gmad-green: #A6C637;
@gmad-red: #CA2029;
@gmad-brown: #3A2212;

// From Project screenshots:
// Blue color: #1E4F5C;
// Orange color: #BA4F34;
// Another possibly-good bluish color: #405E69;